.box{
    width: 100%;
    height: 1820px;
    border: 2px dotted black;
}
.box-1{
    width: 23%;
    height: 280px;
    float: left;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 4px 10px yellow;
    transition: 2s;
}
.box-1:hover{
    box-shadow: 6px 10px 15px rgb(255, 0, 0);
    
}