.btn{
    background-color: red;

    width: 500px;
    color: white;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 360px;
}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    line-height: 50px;
    align-items: center;
    margin-top: 50px;
}