.btn {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.952);
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    box-shadow: 5px;
    font-size: 30px;
    margin-left: 573px;
    text-align: center;
    justify-content: center;
     line-height: 50px;
    box-shadow: 4px 4px 15px rgb(255, 187, 0);
    transition: 1s;
    margin-bottom: 50px;
   
}
.btn a {
    text-decoration: none;
    color: white;
   
}

.btn:hover {
   box-shadow: 10px 10px 20px red;
   
   
}
span{
    color: rgb(87, 2, 2);
}